html,
body {
    padding: 0;
    margin: 0;
}
div.container {
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 100vh;
}

div.content-top {
}
div.full-content {
    flex-grow: 1;
    border: 1px solid;
}
